{% extends "layout.html" %}

{% block title %}
    How to Play
{% endblock %}

{% block main %}
<h4>ZIIT is a flash card style trivia game with questions based on computer science. </h4>
<br>
<h5 style='color:red;'>How to play</h5>
<br>
<h6>There are 6 main categories:</h6>
<ul style="list-style-type:none;">
    <li><strong>Industry:</strong> Companies, products and standards</li>
    <li><strong>Software and Operating Systems:</strong> Packages and programming languages</li>
    <li><strong>Hardware and Communications:</strong> Machines, peripherals and networks</li>
    <li><strong>Bits 'n' Bytes:</strong> Computer Science, mathematics and miscellaneous</li>
    <li><strong>People and History:</strong> Who, when and why</li>
    <li><strong>Technotalk:</strong> Acronyms and jargon</li>
    <li><strong>All Categories:</strong> Containing all question sets</li>
    <li><strong>Plus:</strong> one user submitted category containing questions uploaded by you!</li>
</ul>
<p>On starting a game, read the question. When you think you know the answer, press the reveal button to check. Then, dependent on your own answer, press either the correct or the wrong button. This will update your score and roll to the next question. </p>
<p>If you wish to change category while playing, just use the category selector at the bottom of the game screen</p>
<br>
<p>At the end of the game, you will be shown your score. </p>
<br>
<p>To see the ZIIT high scores, click the high scores button on your score page, or the icon in the nav bar.</p>
<br>
<h5 style='color:red;'>Good luck and enjoy the game!</h5>
<br><br>
<p>The main question sets where created and provided with permission from <a href="https://www.zyen.com/about/our-team/professor-michael-mainelli/">Michael Mainelli</a> at <a href="https://www.zyen.com/">Z/Yen.</a></p>
<p>The web application was created by Peter Welch.</p>
{% endblock %}
